@use "global" as *;

.c-to-top {
  position: fixed;
  right: rem(20);
  bottom: rem(20);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid;
  @include mq(md) {
    right: rem(45);
    bottom: rem(45);
  }
}

.c-to-top a {
  display: block;
  width: rem(50);
  height: rem(50);
  background-color: $white;
  position: relative;
}

.c-to-top a span {
  position: absolute;
  width: rem(20);
  height: rem(20);
  border-top: 2px solid;
  border-right: 2px solid;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 0.25em)) rotate(-45deg);
}
