@use "global" as *;

.p-company {  // paddingは.p-で取った方がいいかも。使い回しをするということでは、ちょっと要検討だが･･･（最初、.l-だったが、.p-へ移した！）
  padding-top: rem(42);
  padding-bottom: rem(78);
  background-image: url(../images/common/company-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: rem(-3) 0;  // ここまで完璧に合わせる必要ない
  @include mq(md) {
    background-image: url(../images/common/company-bg-pc.png);
    background-repeat: no-repeat;
    background-size: contain;   // containからmin(1300px, 100%)へ変更。min関数：最大値を1300pxにしてそうでないときを100%にする(だが、透過画像の上の部分が切れている･･･）⇒また、containへ変更（全部表示したいので）！
    background-position: center center;
    padding-top: rem(136);
  }
}

.p-company--subPage {
  padding-top: rem(42);
  padding-bottom: 0;
  background-image: url(../images/common/page-company-bg.png);
  background-repeat: no-repeat;
  background-size: contain;   // 背景の画像がすごくデカくなているということでcover → containに変更 ⇒ 水玉模様が「テキストが入ります」に現れなくなった！
  background-position: rem(-13) rem(-46);   // 動画カンプと自分のカンプでは水玉の位置や文字の形が違う！
  @include mq(md) {
    background-image: url(../images/common/page-company-bg-pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;  // 要素の高さが長くなっているので指定を外す⇒そうすると自分の場合、背景画像が左によってサークル画像の左端が切れてしまう！左右方向にcenter必要。さらに「center center」を「center top」にした。ポン社長とサークル画像が重なるので間隔を取るため.p-company__messageでmargin-topの値を増やすとき、サークル画像も一緒に下へ移動しないために！
    padding-top: rem(110);
    max-width: rem(1300);   // 自分で追加
    margin: auto;   // 自分で追加
  }
}

// .p-company__inner.l-inner {
//   max-width: rem(1300);   // この指定不要！背景画像はinner幅の中にあるのではなく、.p-companyで指定されている！（HIROKIさんでもこういうことがあるのか･･･）その代わり、↑ で指定する（margin: auto;も追加）
// }

.p-company__contents {
  margin-top: rem(22);
}

.p-company__subtitle {
  text-align: center;
  font-size: rem(32);
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.p-company__yellow {
  background-image: linear-gradient(
    180deg,
    transparent 0%,
    transparent 75%,
    #F5F534 75%,
    #F5F534 90%,
    transparent 90%,
    transparent 100%
    );
}

.p-company__content {
  margin-top: rem(39);
}

.p-company__text {
  text-align: center;
  font-size: rem(14);   // ↓ .p-card__textと同じ（margin-topは不要）
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

.p-company__btn {
  text-align: center;
  margin-top: rem(25);
}

.p-company__message {
  margin-top: rem(55);
  @include mq(md) {
    display: flex;
    gap: rem(50);
    margin-top: rem(160);
  }
}

.p-company__message-image {
  aspect-ratio: 335 / 248;
  max-width: rem(445);
  width: 100%;
  object-fit: cover;
}

.p-company__message-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-company__message-text {
  margin-top: rem(30);
  font-size: rem(14);
  line-height: calc(24 / 14);
  letter-spacing: 0.05em;
  @include mq(md) {
    margin-top: 0;
    max-width: rem(605);
    width: 100%;
    font-size: rem(15);
  }
}

.p-company__message-text p:not(:first-child) {
  margin-top: calc(rem(14) * (24 / 14));  // line-height分（１行分）の余白を持っている。この書き方だとデザイン通りの余白が取れている
}