@use "global" as *;

.p-company {  // paddingは.p-で取った方がいいかも。使い回しをするということでは、ちょっと要検討だが･･･（最初、.l-だったが、.p-へ移した！）
  padding-top: rem(42);
  padding-bottom: rem(78);
  background-image: url(../images/common/company-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: rem(-3) 0;  // ここまで完璧に合わせる必要ない
}

.p-company__contents {
  margin-top: rem(22);
}

.p-company__subtitle {
  text-align: center;
  font-size: rem(32);
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.p-company__yellow {
  background-image: linear-gradient(
    180deg,
    transparent 0%,
    transparent 75%,
    #F5F534 75%,
    #F5F534 90%,
    transparent 90%,
    transparent 100%
    );
}

.p-company__content {
  margin-top: rem(39);
}

.p-company__text {
  text-align: center;
  font-size: rem(14);   // ↓ .p-card__textと同じ（margin-topは不要）
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

.p-company__btn {
  text-align: center;
  margin-top: rem(25);
}