@use "global" as *;

.p-header {
  height: rem(64);
  background-color: transparent;
  // background-color: #21054D;
  z-index: 1000;
  position: fixed;  // .l-headerでも良いような気がするとの事
  width: 100%;  // .l-headerでも良いような気がするとの事
}

.p-header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(20);
  @include mq(md) {
    padding: 0 rem(30);
  }
}

.p-header__drawer {
  @include mq(md) {
    display: none;
  }
}

.p-headedr__pc-nav {
  height: inherit;
  display: none;
  @include mq(md) {
    display: block;
  }
}

.p-header__logoLink {
  color: $white;
  font-size: rem(18);
  display: block;
}