@use "global" as *;

.p-mv {
  position: relative;
  height: 100vh;
  background-image: url(../images/common/hero.jpg);
  // _p-mv.scssから見ると../../../images/common/hero.jpgだが、style.cssから見たパスを指定･･･これもgulpの機能によるものか？
  background-repeat: no-repeat;
  background-size: cover;
}

.p-mv__inner {
  // padding: 0 rem(50) 0 rem(30);   // 動画のカンプは右35、左50 → 0 rem(30) 0 rem(50)でやっていた！自分のは右51、左30
}

.p-mv__header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(30);
  color: $white;
  @include mq(md) {
    width: 100%;  // これを指定しないと改行してしまう
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.p-mv__title {
  font-size: rem(40);
  font-weight: $bold;
  font-family: $english-family;
  line-height: 1.1;
  @include mq(md) {
    font-size: rem(72);
  }
}

.p-mv__subtitle {
  font-size: rem(16);
  letter-spacing: 0.1em;
  line-height: 1.8125;
  margin-top: rem(17);
  @include mq(md) {
    font-size: rem(24);
    margin-top: rem(15);
  }
}

.p-mv__btn {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(47);
  }
}

.p-mv__scroll {
  font-size: rem(12);
  letter-spacing: 0.2em;
  font-family: $english-family;
  font-weight: $bold;
  color: $white;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 78px;
  transform: rotate(90deg);
}

.p-mv__scroll span {
  position: relative;
}

.p-mv__scroll span::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 50px;
  background-color: $white;
  transform: rotate(90deg);
  right: -35px;
  bottom: -17px;
}