@use "global" as *;

.p-news-content {
  @include mq(md) {
    display: flex;
  }
}

.p-news-content__meta {
  display: flex;
  align-items: center;
  font-family: $english-family;
}

.p-news-content__date {
  color: $black;
  font-size: rem(15);
  letter-spacing: 0.1em;
}

.p-news-content__category {
  font-size: rem(11);
  font-weight: $bold;
  letter-spacing: 0.05em;
  border-radius: 50px;  // なぜかpx？
  line-height: 1;
  padding: rem(2) rem(21);
  background-color: #E8E8E8;
  margin-left: rem(15);
  flex-shrink: 0;
}

.p-news-content__link {
  // margin-top: rem(10);
  @include mq(md) {
    margin-left: rem(20);
    max-width: rem(700);  // この指定がないとflex-shrink: 0;の所へ文字列が被さる
    width: 100%;  // 2行以上のものと1行だけのもので文字列の先頭が揃う
  }
}

.p-news-content__text {
  font-size: rem(14);
}