@use "global" as *;

.p-news {

}
// HIROKIさん、_p-news.scssを作らないで.p-news__itemsのスタイルを_p-news-content.scssで指定！？→ → → _p-archive-home.scssに「！？」までのコメントアウトと.p-news__innerと.p-news__itemsのルールセット(内容同じ)が書かれている！？さらに、29から32行目までも？？⇒ 意味がないので削除
.p-news__inner {
  @include mq(md) {
    display: flex;
    justify-content: center;
  }
}

.p-news__items {
  margin-top: rem(31);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(50);
  }
}

.p-news__item + .p-news__item {
  margin-top: rem(35);
  @include mq(md) {
    margin-top: rem(15);
  }
}

// 下の書き方でもOK!!!
// .p-news__item:nth-child(n + 2) {
//   margin-top: rem(35);
// }