@use "global" as *;

.l-page-contact {
  margin-top: rem(37);
  margin-bottom: rem(40);   // 本当は下から上に取りたいが、このページ限定で特殊な部分ではあるんで･･･
  @include mq(md) {
    margin-top: rem(67);
    margin-bottom: rem(70);
  }
}
